<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <div><%= link_to "Followings", followings_user_path(@user) %></div>
      <div><%= link_to "Followers", followers_user_path(@user) %></div>
    </section>
  </aside>

<div class="col-md-8">
  <h2>Follower</h2>
  <% @users.each do |u| %>
  <ul><li class="clearfix"><%= link_to u.name ,user_path(u)%><br>
  <%= gravatar_for(@user) %></li>
  <% end %>
  </ul>
</div>
</div>